* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

li {
  list-style: none;
}

body {
  background: #212121;
  background-image: url("https://1.bp.blogspot.com/-CdKHIRvcUSw/WqSSPneyKrI/AAAAAAAAG5Y/Cl8LTDlYRzAI2H7SxpxYHj44EzBibLzGgCLcBGAs/s1600/C%25C3%25A1lculo.png");
}

a {
  text-decoration: none;
}
